<div class="container">
  <div class="row justify-content-between">
    <div class="col-xl-6">
      <form>
        <div class="mb-3">
          <label for="email" class="mb-2 d-block"
            >Enter your email address</label
          >
          <input
            type="email"
            id="email"
            placeholder="example@gmail.com"
            class="form-control p-3"
          />
        </div>
        <div class="mb-3">
          <label for="username" class="mb-2">User Name</label>
          <div class="d-flex justify-content-between">
            <input
              type="text"
              id="username"
              placeholder="Seif"
              class="form-control w50 p-3"
            />
            <input
              type="text"
              id="lastname"
              placeholder="Ashraf"
              class="form-control w50 p-3"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="phone" class="mb-2 d-block">Contact Number</label>
          <input
            type="text"
            id="phone"
            placeholder="01128572645"
            class="form-control p-3"
          />
        </div>
        <div class="mb-3">
          <label for="pass" class="mb-2 d-block">Enter your Password</label>
          <input
            type="password"
            id="pass"
            placeholder="*****"
            class="form-control p-3"
          />
        </div>
        <div class="mb-4">
          <label for="address" class="mb-2 d-block">Enter your Address</label>
          <div class="d-flex justify-content-between">
            <input
              type="text"
              id="address"
              placeholder="32 El Hadaba Elwosta , Taha Yassin St , apartment no. 12"
              class="form-control p-3"
              style="width: 78%"
            />
            <select>
              <option selected>Cairo</option>
              <option value="1">Guiza</option>
              <option value="2">Hawamdia</option>
              <option value="3">Sohag</option>
            </select>
          </div>
        </div>
        <div class="text-end">
          <button class="btn text-white bg-main py-2 px-5">Confirm</button>
        </div>
      </form>
    </div>
    <div class="col-md-5 paner-parent">
      <div class="paner">
        <img src="./assets/images/BACKGROUNDS/elbetelshaqra.png" alt="8" />
      </div>
    </div>
  </div>
</div>
