<section class="my-5">
  <div class="container">
    <div class="table-parent">
      <table class="table border">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Piece</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products.slice(0, 6)"
            class="xs-small my-row"
          >
            <td>
              <img [src]="product.image" class="w-50" style="height: 70px" />
            </td>
            <td>
              {{ product.title.split(" ").slice(0, 3).join(" ") }}
            </td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}EGP</td>
            <td>1</td>
            <td>
              <button
                class="status btn xs-small btn-light border fw-bold text-danger"
              >
                Completed
              </button>
            </td>
            <td>
              <div class="actions">
                <button class="one">
                  <i class="fa fa-star text-warning"></i>
                </button>
                <button class="two"><i class="fa fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
