<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="intro-layer">
          <div class="text-white intro-text">
            <h1 class="fw-bold">Supplera for the students</h1>
            <p>
              Supplera is a platform that streamlines the procurement
              <br />
              process and trading of supplies for students and
              <br />
              professionals in the scientific and artistic realms.
            </p>
          </div>
          <img
            class="my-img"
            src="./assets/images/BACKGROUNDS/madeha.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <nav class="filter-nav mt-4">
      <ul class="list-unstyled">
        <li>
          <span class="filter-label"
            ><i class="fa fa-filter"></i> Filter By</span
          >
        </li>
        <li>
          <a
            routerLink="allproducts"
            routerLinkActive="active-filter"
            class="filter-link"
            >ALL</a
          >
        </li>
        <li>
          <a
            routerLink="medicine"
            routerLinkActive="active-filter"
            class="filter-link"
            >Medicine</a
          >
        </li>
        <li>
          <a
            routerLink="engineering"
            routerLinkActive="active-filter"
            class="filter-link"
            >Engineering</a
          >
        </li>
        <li>
          <a
            routerLink="pharmacy"
            routerLinkActive="active-filter"
            class="filter-link"
            >Pharmacy</a
          >
        </li>
        <li>
          <a
            routerLink="agriculture"
            routerLinkActive="active-filter"
            class="filter-link"
            >Agriculture</a
          >
        </li>
        <li>
          <a
            routerLink="science"
            routerLinkActive="active-filter"
            class="filter-link"
            >Science</a
          >
        </li>
        <li>
          <a
            routerLink="economics"
            routerLinkActive="active-filter"
            class="filter-link"
            >Economics and Political Science</a
          >
        </li>
        <li>
          <a
            routerLink="arts"
            routerLinkActive="active-filter"
            class="filter-link"
            >College of Arts</a
          >
        </li>
        <li>
          <a
            routerLink="cs"
            routerLinkActive="active-filter"
            class="filter-link"
            >Faculty of Computers & Information Technology</a
          >
        </li>
        <li>
          <a
            routerLink="electronics"
            routerLinkActive="active-filter"
            class="filter-link"
            >-electronics-</a
          >
        </li>
        <li>
          <a
            routerLink="jewelery"
            routerLinkActive="active-filter"
            class="filter-link"
            >-jewelery-</a
          >
        </li>
        <li>
          <a
            routerLink="men's clothing"
            routerLinkActive="active-filter"
            class="filter-link"
            >-men's clothing-</a
          >
        </li>
        <li>
          <a
            routerLink="women's clothing"
            routerLinkActive="active-filter"
            class="filter-link"
            >-women's clothing-</a
          >
        </li>
      </ul>
    </nav>
    <hr />
    <div class="product-condition my-4">
      <span>Product Condition</span>
      <div class="form-check mx-4">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1"> Used </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2"> New </label>
      </div>
    </div>
    <hr />
  </div>
</section>
<router-outlet></router-outlet>
