.product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-image {
  max-height: 400px;
}
.slider {
  margin-top: 25px;
  padding-top: 20px;
}
.img-wrapper img {
  transition: box-shadow 0.2s;
  max-height: 130px;
}
.img-wrapper img:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.185);
}
.details {
  display: flex;
  align-items: center;
  border-block: 1px solid #eee;
  margin-block: 10px;
}
.rating,
.rating-count {
  border-radius: 50px;
  background-color: #eee;
  padding: 5px 10px;

  font-weight: 700;
}
.rating {
  color: rgb(8, 128, 8);
}
.rating-count {
  color: var(--main-color-blue);
  margin-left: 10px;
}
.cart-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}
.my-counter {
  width: 32%;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-counter button,
.my-counter .count {
  display: inline-block;
  width: calc(100% / 3);
  height: 45px;
  border: none;
  background-color: transparent;
}
.my-counter .count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: larger;
  cursor: default;
}
.my-counter button:hover {
  background-color: #afafaf;
}
.buy-now,
.add-to-cart {
  width: 32%;
  height: 45px;
}
